@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* FONT */

.font-geist {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: heavy;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  #safari {
    background-color: #303030
  }
}



html {
  background-color: black;

}

@layer utilities {
  .home-bg {
    background-image: url('../assets/bg.png');
  }
}
.code-text {
  font-family: 'Courier Prime', monospace;
}


.gradient {
  background: linear-gradient(90deg, #6EB2F1 -2.92%, #5B37EB 109.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.bg-gradient {
  background: linear-gradient(90deg, #6EB2F1 -2.92%, #5B37EB 109.42%);
}

.base {
  border-radius: 7px;
  border: 2px solid #2E2E2E;  background: #222222;
  @apply p-5;
}

.card-bg {
  border-radius: 7px;
  border: 2px solid #2E2E2E;
  background: #222222;
}


.item {
  display: flex;
  justify-content: space-between;
  @apply px-5 py-2 text-gray-300;
}

@keyframes expand-line {
  0% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}

.animate-expand-line {
  animation: expand-line 2s ease-in-out forwards;
}