@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #safari {
    background-color: #222222
  }
}

body, html {
  border: none;
  background-color: #222222;
  background: radial-gradient(50% 50% at 50% 50%, #181818 0, #222 100%);

}

.code-text {
  font-family: 'Courier Prime', monospace;
}


.gradient {
  background: linear-gradient(90deg, #6EB2F1 -2.92%, #5B37EB 109.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.base {
  border-radius: 7px;
  border: 2px solid #2E2E2E;  background: #222222;
  @apply p-5;
}

.card-bg {
  border-radius: 7px;
    border: 2px solid #2E2E2E;
    background: #222222;
}


.item {
  display: flex;
  justify-content: space-between;
  @apply px-5 py-2 text-gray-300;
}